In [3]:
tuple1 = (1, 'a', 2.3)  
tuple2 = (4, 'b', 5.0)
tuple1[0] # Mengembalikan gagal 
tuple1[1] # Mengembalikan 'a'

'a'

In [4]:
tuple1 > tuple2 # Mengembalikan False  
tuple2 > tuple1 # Mengembalikan True

True

In [7]:
tuple1 = (1, 'a', 2.3)  
tuple2 = (4, 'b', 5.0)
print(dict[tuple1])  
print(dict[tuple2])

Tuple 1
Tuple 2

In [ ]:
tuple_example = (“Python”, 3.6 )
empty_tuple = ()

In [ ]:
single_tuple = (“Python”,)

In [ ]:
nested_tuple = ((1,2), (3,4), (5,6))

In [8]:
(0, 1, 2) < (0, 3, 4)

True

In [9]:
(0, 1, 2000000) < (0, 3, 4)

True

In [10]:
kalimat = "di sana jendela pecah cahaya apa lembut tapi dalam"
kata_kata = kalimat.split()
kata_kata_berdecor = [(len(kata), kata) for kata in kata_kata]
kata_kata_berdecor.sort(reverse=True)
hasil = [kata for panjang, kata in kata_kata_berdecor]
print(hasil)

['jendela', 'lembut', 'cahaya', 'pecah', 'dalam', 'tapi', 'sana', 'apa', 'di']

In [16]:
nama = "John"
usia = 15
nilai = "A"
nama, usia, nilai = "John", 15, "A"
print(nama)
print(usia)  
print(nilai)

John
15
A

In [21]:
def get_student_info():
    return "John", 15, "A"

nama, umur, nilai = get_student_info()

nama, _, nilai = "John", 15, "A"

print(nama)
print(umur)
print(nilai)

John
15
A

In [22]:
d = {'a':10, 'b':1, 'c':22}  
t = list(d.items())  
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [23]:
d = {'a': 10, 'b': 1, 'c': 22}
t = list(d.items())
print("Sebelum diurutkan:", t)  # Output: [('a', 10), ('b', 1), ('c', 22)]
t.sort()
print("Setelah diurutkan:", t)  # Output: [('a', 10), ('b', 1), ('c', 22)]

Sebelum diurutkan: [('a', 10), ('b', 1), ('c', 22)]
Setelah diurutkan: [('a', 10), ('b', 1), ('c', 22)]

In [24]:
d = {'a': 10, 'b': 1, 'c': 22}
for key, val in list(d.items()):
    print(val, key)

10 a
1 b
22 c

In [25]:
d = {'a': 10, 'b': 1, 'c': 22}
l = list()
for key, val in d.items():
    l.append((val, key))

l.sort(reverse=True)
print(l)

[(22, 'c'), (10, 'a'), (1, 'b')]

In [ ]:
import string
fhand = open('romeo-full.txt')
counts = dict()

for line in fhand:
    line = line.translate(str.maketrans('', '', string.punctuation))
    line = line.lower()
    words = line.split()
    for word in words:
        if word not in counts:
            counts[word] = 1
        else:
            counts[word] += 1

lst = list()
for key, val in list(counts.items()):
    lst.append((val, key))
lst.sort(reverse=True)

for key, val in lst[:10]:
    print(key, val)

In [30]:
first = 'dida'
number = '088112266'
directory = {} 

directory[(last, first)] = number  

for key in directory:
    print(key, directory[key])

('nendya', 'dida') 088112266

In [31]:
# Latihan11.1
def check_all_equal(t):
    unique_values = set(t)
    return len(unique_values) == 1

tA = (90, 90, 90, 90)
result = check_all_equal(tA)
print(f"Output: {result}")

Output: True

In [32]:
data = ('Matahari Bhakti Nendya', '22064091', 'Bantul, DI Yogyakarta')

nama_lengkap = data[0]
nim = data[1]
alamat = data[2]

print(f"NIM : {nim}")
print(f"NAMA : {nama_lengkap}")
print(f"ALAMAT : {alamat}")

nim_tuple = tuple(nim)
nama_depan_tuple = tuple(nama_lengkap.split()[0].lower())
nama_terbalik_tuple = tuple(reversed(nama_lengkap.split()))

print(f"NIM: {nim_tuple}")
print(f"NAMA DEPAN: {nama_depan_tuple}")
print(f"NAMA TERBALIK: {nama_terbalik_tuple}")

NIM : 22064091
NAMA : Matahari Bhakti Nendya
ALAMAT : Bantul, DI Yogyakarta
NIM: ('2', '2', '0', '6', '4', '0', '9', '1')
NAMA DEPAN: ('m', 'a', 't', 'a', 'h', 'a', 'r', 'i')
NAMA TERBALIK: ('Nendya', 'Bhakti', 'Matahari')

In [33]:
file_name = input("Enter a file name: ")

try:
    fhand = open(file_name)
    counts = dict()
    
    for line in fhand:
        if line.startswith('From '):
            words = line.split()
            time = words[5]
            hour = time[:2]
            counts[hour] = counts.get(hour, 0) + 1
    
    for key in sorted(counts):
        print(key, counts[key])
except:
    print("File cannot be opened:", file_name)

Enter a file name:  Orikonba

File cannot be opened: Orikonba